<!DOCTYPE HTML>

<html lang="en">
  <head>
    <title>JQuery</title>
    <meta charset="utf-8" />
    <style>
      body{
        font-family: Tahoma, Arial, sans-serif;
        font-size: 16px;
      }
      
      .shadow{
        box-shadow: 0 7px 11px rgba(0,0,0,0.7);
      }
      
      .rounded{
        border-radius: 10px;
      }
      
      .textshadow{
        text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
      }
      
      #results{
        background: #eef;
        border: 1px solid #000;
        width: 300px;
        height: 150px;
        border-radius: 6px;
        padding: 10px;
        font-weight: bold;
        font-size: 16px;
      }
      
      .caption_text{
        font-size: 2em;
        color: #fff;
        position: absolute;
        top: 10px;
        right: 20px;
      }
      .cycle-slideshow{
        width: 800px;
        height: 300px;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
      }
      #WDD_pager{
        font-size: 150%;
        text-align: center;
        margin-top: 6px;
      }
      
      #WDD_pager a{
        display: inline-block;
        padding: 7px 10px 7px 10px;
        border: 1px solid #444;
        margin-right: 10px;
        text-decoration: none;
        color: #444;
      }
      
      #WDD_pager a.cycle-pager-active{
        background: #000;
        color: #fff;
      }
      
      .image_responseive{
        width: 100%;
        height: auto;  
      }
      
    </style>
    
  </head>
  
  <body>
    <h1>JQuery!</h1>
    <div class="cycle-slideshow"
         data-cycle-slides=">div"
         data-cycle-fx="scrollHorz"
         data-cycle-pager="#WDD_pager"
         data-cycle-pager-template="<a href='#'>{{slideNum}}</a>"
         data-cycle-speed="1000"
         data-cycle-timeout="5000"
         data-cycle-pause-on-hover="true">
      <div>
        <img src="../images/slider1.jpg" alt="picture" class="image_responseive" />
        <div class="caption_text textshadow">Resort</div>
      </div>
      <div>
        <img src="../images/slider2.jpg" alt="picture" class="image_responseive"/>
        <div class="caption_text textshadow">Moon</div>
      </div>
      <div>
        <img src="../images/slider3.jpg" alt="picture" class="image_responseive"/>
        <div class="caption_text textshadow">Sea</div>
      </div>
    </div>
    <div id="WDD_pager"></div>
    <noscript>
      <p>You appear to have JavaScript turned off. Please enable it to use this 
        website.
      </p> 
    </noscript>
    <!-- loading jquery locally from a file. -->
    <!--    <script src="jquery-3.4.1.min.js"></script>  -->
    <!-- loading the file from cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../jquery_Plugins/jquery.cycle2.min.js"></script>
    <script>
      // has jQuery, and the page itself loaded
      $(document).ready(function(){
        
      });// end document.ready
      
    </script>
  </body>
  
</html>
