/* --------------------- CSS For Main FIle ----------------------- */

body{
 font-family: Tahoma, sans-serif;
 font-size: 16px;
 background: #cfcfcf;
 margin: 0;
 padding: 0;
}

header, nav , div, footer{
 box-sizing: border-box;
}

/* ----------------------------- Header and Footer ----------------------------- */

header{
 width:100%;
 background: #303;
 color: #ccc;
 height: 150px;
 line-height: 150px;
 font-size: 3em;
 position: relative;
 padding-left: 20px;
}

footer{
 width: 100%;
 background: #303;
 color: #ccc;
 line-height: 50px;
 height: 50px;
 text-align: center;
 font-size: 1em;
 clear: both;
}

header div, 
footer div{
 margin: 0 auto;
 max-width:960px;
}

/* ---------------------------------------- nav ------------------------------------ */

nav{
 width: 100%;
 background: #666;
 height: 50px;
}

#menu{
 max-width: 960px;
 margin: 0 auto;
}

nav #menu ul{
 display: inline-block;
 margin: 0;
 padding:0;
}

nav #menu ul li{
 list-style-type: none;
 color: #303;
 display: inline-block;
}

nav #menu ul li a{
 display: inline-block;
 padding: 0 50px;
 line-height: 50px;
 text-decoration: none;
 text-transform: uppercase;
 color: #303;
}

nav #menu ul li a:link,
nav #menu ul li a:visited{
 background: #666;
 color: #fff;
}

nav #menu ul li a:hover,
nav #menu ul li a:active,
nav #menu ul li.current a{
 background: #303;
 color: #fff;
}

/* ----------------------------------------- main contents ---------------------------------- */

#container{
 max-width: 960px;
 width: 100%;
 margin: 0 auto;
 height: auto;
 background: #000;
}

#inner{
 width: 100%;
 background: #000;
}

#toggle_menu{
  display: none;
}


/* --------------------------------------- Media Queries ------------------------------------ */

@media all and (max-width: 767px){
  header{
    font-size: 1.5em;
    height: 70px;
    line-height: 70px;
    padding-left: 10px;
  }
  
  nav{
    width: 20%;
    position: absolute;
    right: 0;
    display: none;
    z-index: 5000;
  }
  
  nav #menu ul,
  nav #menu ul li,
  nav #menu ul li a{
    display: block;
  }
  
  #toggle_menu{
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
  }
  
  nav #menu ul li a:link,
  nav #menu ul li a:visited{
   background: #666;
   color: #fff;
  }
  
  nav #menu ul li a:hover,
  nav #menu ul li a:active{
   background: #303;
   color: #fff;
  }
}

/*
img {  
  height: auto;  
  width: 100%; 
  max-width: 767px;
}*/
