/* CSS styling */

body{
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  background: #cfcfcf;
  margin: 0;
  padding: 0;
}

header, nav , div, footer{
  box-sizing: border-box;
}

/* ----------------------------- Header and Footer ----------------------------- */

header{
  width:100%;
  background: #303;
  color: #ccc;
  height: 70px;
  line-height: 70px;
  font-size: 1.5em;
  position: relative;
  padding-left: 10px;
}

footer{
  width: 100%;
  background: #303;
  color: #ccc;
  line-height: 50px;
  height: 50px;
  text-align: center;
  font-size: 1em;
  clear: both;
}

header div, 
footer div{
  margin: 0 auto;
  max-width:960px;
}



/* --------------------------------------- Navigational Menu ------------------------------------ */

nav{
  display: none;
}

nav #menu ul{
  display: block;
  position: absolute;
  top: 54px;
  right: 0;
}

nav #menu ul li{
  display: block;
  list-style-type: none;
  color: #303;
}

nav #menu ul li a{
  display: block;
  padding: 0 50px;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  color: #303;
}

nav #menu ul li a:link,
nav #menu ul li a:visited{
  background: #666;
  color: #fff;
}

nav #menu ul li a:hover,
nav #menu ul li a:active{
  background: #303;
  color: #fff;
}

#toggle_menu{
  display: block;
  position: absolute;
  top: 20px;
  right:25px;
}

/* ----------------------------------------- Main Contents ---------------------------------- */

#container{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  background: #000;
  overflow: hidden;
}

#inner{
  width: 100%;
  background: #000;
}

.required::after{
  content: "*";
  color: #f00;
}

label{
  display: block;
  float: left;
  width: 200px;
  margin-top: 10px;
  font-weight: bold;
}

form{
  width: 50%;
  margin: 30px auto;
}

fieldset{
  background: #fff;
  border-radius: 10px;
  border: 2px solid #fff;
}

legend{
  background: #303;
  color: #fff;
  padding: 8px 12px;
  font-size: 1.3em;
  border-radius: 10px;
  border: 2px solid #fff;
  box-shadow:  0 7px 11px rgba(0,0,0,0.7);
}

input{
  margin-top: 5px;
  padding: 8px 8px;
  border-radius: 8px;
  width: 200px;
  border: 2px solid #000;
}

input:hover{
  border: 2px solid #d85612;
  background: rgb(114, 169, 203);
  box-shadow:  0 7px 11px rgba(0,0,0,0.7);
  
}

input[type=button]{
  border: 3px solid #0c6c0c;
  color: #fff;
  background: #0c6c0c;
  border-radius: 8px;
  padding: 4px 60px;
  font-weight: bold;
  margin-top: 30px;
}

input[type=reset]{
  border: 3px solid #6c130c;
  color: #fff;
  background: #6c130c;
  border-radius: 8px;
  padding: 4px 10px;
  font-weight: bold;
}


input[type=button]:hover,
input[type=reset]:hover{
  border: 3px solid #000;
  box-shadow:  0 7px 11px rgba(0,0,0,0.7);
}



