/* ---------------------------------------------- Css styling file ------------------------------------------------*/
/* CSS styling */

body{
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  background: #cfcfcf;
  margin: 0;
  padding: 0;
}

header, nav , div, footer{
  box-sizing: border-box;
}

.shadow{
  box-shadow: 0 7px 11px rgba(0,0,0,0.7);
}

.rounded{
  border-radius: 10px;
}

.textshadow{
  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}


/* ----------------------------- Header and Footer ----------------------------- */

header{
  width:100%;
  background: #303;
  color: #ccc;
  height: 150px;
  line-height: 150px;
  font-size: 3em;
  position: relative;
  padding-left: 20px;
}

footer{
  width: 100%;
  background: #303;
  color: #ccc;
  line-height: 50px;
  height: 50px;
  text-align: center;
  font-size: 1em;
  clear: both;
}

header div, 
footer div{
  margin: 0 auto;
  max-width:960px;
}

/* ---------------------------------------- Nav ------------------------------------ */

#menu{
  background: #666;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  box-shadow:  0 7px 11px rgba(0,0,0,0.7);
}

nav #menu ul{
  display: inline-block;
  margin: 0;
  padding:0;
  background: #666;
  height: 50px;
}

nav #menu ul li{
  list-style-type: none;
  color: #303;
  display: inline-block;
}

nav #menu ul li a{
  display: inline-block;
  padding: 0 50px;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  color: #303;
}

nav #menu ul li a:link,
nav #menu ul li a:visited{
  background: #666;
  color: #fff;
}

nav #menu ul li a:hover,
nav #menu ul li a:active,
nav #menu ul li.current a{
  background: #303;
  color: #fff;
}

/* ----------------------------------------- Main Contents ---------------------------------- */

#container{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  height: 1300px;
  background: #fff;
  position: relative;
  overflow: hidden;
}

#inner{
  width: 100%;
  background: #fff;
}

/* ************************************************* Local Storage *************************************************** */

label{
  display: block;
  float: left;
  width: 250px;
  margin-top: 10px;
  font-weight: bold;
}

form{
  width: 50%;
  margin: 30px auto;
}

input{
  margin-top: 5px;
  padding: 8px 8px;
  border-radius: 8px;
  width: 150px;
  border: 2px solid #000;
}
input[type=color]{
  width: 170px;
  height: 40px;
}

input:hover{
  border: 2px solid #d85612;
  background: rgb(114, 169, 203);
  box-shadow:  0 7px 11px rgba(0,0,0,0.7);
  
}

button{
  border: 3px solid #0c6c0c;
  color: #fff;
  background: #0c6c0c;
  border-radius: 8px;
  padding: 4px 30px;
  font-weight: bold;
}

button:first-child{
  margin-left: 160px;
}

button:hover{
  border: 3px solid #000;
  box-shadow:  0 7px 11px rgba(0,0,0,0.7);
}
  
h2{
  text-align: center;
  font-size: 36px;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
  margin-top: 65px;
}

/* ************************************************* Canvas Animation *************************************************** */

#canvas_box{
  margin-left: 280px;
  border: 5px solid rgb(14, 134, 14);
}

/* ************************************************* Drag and Drop *************************************************** */

#puzzle, #puzzle1, #puzzle2, 
#puzzle3, #puzzle4{
  position: absolute;
  top: 1020px;
  left: 250px;
  width: 50px;
  height: 50px;
  background: #303;
  font-weight: bold;
  border: 2px solid #000;
  padding: 12px;
  color: #fff;
  line-height: 25px;
  text-align: center;
  font-size: 24px;
  cursor: grabbing;
  box-sizing: border-box;
}

#puzzle1{
  left: 350px;
}

#puzzle2{
  left: 450px;
}

#puzzle3{
  left: 550px;
}

 #puzzle4{
  left: 650px;
}

.puzzle_answer, .puzzle_answer1, 
.puzzle_answer2, .puzzle_answer3, 
.puzzle_answer4{
  position: absolute;
  top: 20px;
  left: 50px;
  width: 50px;
  height: 50px;
  background: rgb(206, 138, 206);
  border: 2px solid #000;
  cursor: grabbing;
}

.puzzle_answer1{
  left: 150px;
}

.puzzle_answer2{
  left: 250px;
}

.puzzle_answer3{
  left: 350px;
}

 .puzzle_answer4{
  left: 450px;
}

#hint_button{
  position: absolute;
  left: 450px;
  top: 1245px;
  width: 70px;
  height: 50px;
  font-weight: bold;
  background : rgb(250, 48, 0);
  color : #fff;
  border: 1px solid rgb(250, 48, 0);
  border-radius: 10px;
  font-size: 20px;
  padding: 0;
}

#set_pos{
  position: absolute;
  top: 1120px;
  left: 200px;
  background: rgb(105, 94, 94);
  width: 560px;
  height: 100px;
  border: 2px solid #000;
  padding: 12px;
  border-radius: 10px;
}